html, body {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    margin: 0 auto;
    background-color: lightslategrey;
  }
  p, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a2a2a;
    background-color: lightblue;
    height: 500px;
    font-size: 20px;
    text-align: left;
    margin: -22px 0px 0px 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-indent: 30px;
  }
  h1{
    text-align: center;
    padding: 20px;
    background-color: lightblue;
    font-family: 'Open Sans Condensed', monospace;
  }
  h2{
    text-align: left;
    padding: 10px;
    background-color: rgb(188, 218, 228);
    font-family: Arial, Helvetica;
  }
  main {
    display: flex;
    background-color: lightblue;
  }
  .topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding:  10px 11.734% 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: lightblue;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: lightblue;
    color: black;
  }
  aside {
    flex: 100;
    width: 10px;
    background-color: lightsteelblue;
    text-align: right;
  }
  ul {
    width: 10px;
    text-align: right;
  }
  
 

